<!DOCTYPE html>
<html>
<head>
  <title>GO-COTIZADOR</title>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
</head>
<body>
   <!-- Sección de la explicación de Usuarios -->
 <div style=" border-radius: 0;"class="card text-center">
    <div style="
      background: #000428;
      background: -webkit-linear-gradient(to right, #004e92, #000428);
      background: linear-gradient(to right, #004e92, #000428);" 
    class="card-body">
      <h5 style="color:white"class="card-title">Cotizador</h5>
      <p style="color:white" class="card-text">Ingrese la información que se le solicita a continuación para poder cotizar.</p>
    </div>
  </div>
<!-- Peso Alto Ancho destino tarifa cupon -->
<!--
    (peso*tarifa)+1.66*alto*largo*ancho-descuento*0.5*peso  
-->
<br>

<div class="container">
        <br>
        <!-- 
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Alto" required>
                <span class="input-group-text"><i class="bi bi-rulers"></i></span>
                <input type="text" class="form-control" name="txtApellido" placeholder="Ancho" required >
            </div>
        -->
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="bi bi-rulers"></i></span>
                <input type="number" class="form-control" name="alto" #alto="ngModel" [(ngModel)]="cotizado.alto" placeholder="Alto"  autofocus required>
                <input type="number" class="form-control" name="largo" #largo="ngModel" [(ngModel)]="cotizado.largo"  placeholder="Largo"  autofocus required>
                <input type="number" class="form-control" name="ancho" #ancho="ngModel" [(ngModel)]="cotizado.ancho" placeholder="Ancho"  autofocus required>
                <span class="input-group-text">cms.</span>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="bi bi-box-seam"></i></span>
                <input type="number" class="form-control" name="peso" #peso="ngModel" [(ngModel)]="cotizado.peso" placeholder="Peso"  autofocus required>
                <span class="input-group-text">lbs.</span>
            </div>

           <!-- 
                <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-gender-female"></i><i class="bi bi-gender-male"></i></span>
                <input type="text" class="form-control" name="txtGenero" placeholder="Género"  autofocus required>
            </div>

            <div class="input-group mb-3">
                <input type="email" class="form-control" name="txtMail" placeholder="E-Mail" autofocus required>
                <span class="input-group-text" id="basic-addon2"><i class="bi bi-envelope-check-fill"></i></span>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="bi bi-telephone-fill"></i></span>
                <input type="text" class="form-control" name="txtTel" placeholder="No. Telefónico" autofocus required>
            </div>
           -->
           
           

            <div class="mb-3">
                <label class="form-label"><strong>Escoja el País:</strong></label>
                  <select  name="idPais" #idPais="ngModel"
                  [(ngModel)]="idPaisModel" class="form-select" aria-label="Default select example">
                    <option *ngFor="let reg of paises" [ngValue]="reg">{{reg.nombre}}</option>
                  </select>
              </div>

            <div class="input-group">
                <span class="input-group-text">Q</span>
                <input type="number" class="form-control" name="total" #total="ngModel" [(ngModel)]="cotizado.total" placeholder="Total sin descuento"  autofocus disabled>
            </div>
        
            <div class="d-grid">
                <hr>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary">Validar</button>
                    <button type="button" class="btn btn-primary" (click)="cotizar()">Cotizar</button>
                    <button type="button" class="btn btn-primary" (click)="limpiar()">Limpiar</button>
                </div>
            </div>
        
        <br>
</div>
</body>
</html>
