<br>
<br>
<hr>
<footer class="footer footer-big footer-color-black" data-color="black">
    <div class="container">
        <div class="copyright">
             <strong>© 2021 | Carlos Andres Selman David</strong>
        </div>
        <br>
    </div>
  </footer>
  <div  style=" border-radius: 0;"class="card text-center">
    <div style="background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    background: linear-gradient(to right, #004e92, #000428);" class="card-body">
      <h5 style="color:white"class="card-title"></h5>
      <p style="color:white" class="card-text"></p>
    </div>
  </div>