<br>
<footer class="footer footer-big footer-color-black" data-color="black">
  <div class="container">
      <div class="row">
          <div class="col-md-2 col-sm-3">
              <div class="info">
                  <h5 class="title">GO-EXPRESS</h5>
                  <nav>
                      <ul>
                          <li>
                            <a class="btn btn-social btn-reddit btn-simple">
                              <i class="bi bi-check"></i> Seguridad.
                            </a>
                          <li>
                            <a class="btn btn-social btn-reddit btn-simple">
                              <i class="bi bi-check"></i> Velocidad.
                            </a>
                          </li>
                          <li>
                            <a class="btn btn-social btn-reddit btn-simple">
                              <i class="bi bi-check"></i> Confianza.
                            </a>
                          </li>
                          <li>
                            <a class="btn btn-social btn-reddit btn-simple">
                              <i class="bi bi-check"></i> Accesibilidad.
                            </a>
                          </li>
                          <li>
                            <a class="btn btn-social btn-reddit btn-simple">
                              <i class="bi bi-check"></i> Adaptabilidad.
                            </a>
                          </li>
                      </ul>
                  </nav>
              </div>
          </div>
          <div class="col-md-3 col-md-offset-1 col-sm-3">
              <div class="info">
                  <h5 class="title"> Nuestros Servicios:</h5>
                   <nav>
                      <ul>
                          <li>
                              <a><i class="bi bi-check"></i> Envíos a varias regiones.</a>
                          </li>
                          <li>
                              <a><i class="bi bi-check"></i> Envíos accesibles al usuario.</a>
                          </li>
                          <li>
                              <a><i class="bi bi-check"></i> Envíos adaptables.</a>
                          </li>
                          <li>
                              <a><i class="bi bi-check"></i> Pagos por tarjeta y en efectivo.</a>
                          </li>
                          <li>
                              <a><i class="bi bi-check"></i> Servicio de envíos por diversos territorios.</a>
                          </li>
                      </ul>
                  </nav>
              </div>
          </div>
          <div class="col-md-3 col-sm-3">
              <div class="info">
                <h5 class="title">Noticias Nuestras:</h5>
                  <nav>
                      <ul>
                          <li>
                              <a>
                                <i class="bi bi-truck"></i> <b> Empresa de mensajería</b> certificada y abalada, que brinda sus servicios desde el año 2010.
                                  <hr class="hr-small">
                              </a>
                          </li>
                          <li>
                              <a>
                                <i class="bi bi-pin-map-fill"></i> Actualmente contamos con <b> diversos puntos</b>! Gracias por preferirnos...
                              </a>
                          </li>
                      </ul>
                  </nav>
              </div>
          </div>
          <div class="col-md-2 col-md-offset-1 col-sm-3">
              <div class="info">
                  <h5 class="title">Contáctanos:</h5>
                  <nav>
                      <ul>
                          <li>
                              <a href="#" class="btn btn-social btn-facebook btn-simple">
                                <i class="bi bi-facebook"></i> Facebook
                              </a>
                          </li>
                          <li>
                              <a href="#" class="btn btn-social btn-dribbble btn-simple">
                                <i class="bi bi-whatsapp"></i> WhatsApp
                              </a>
                          </li>
                          <li>
                              <a href="#" class="btn btn-social btn-twitter btn-simple">
                                  <i class="fa fa-twitter"></i>Twitter
                              </a>
                          </li>
                          <li>
                              <a href="#" class="btn btn-social btn-reddit btn-simple">
                                <i class="bi bi-google"></i> Google
                              </a>
                          </li>
                      </ul>
                  </nav>
              </div>
          </div>
      </div>
      <hr>
      <div class="copyright">
           © 2021 | Carlos Andres Selman David
      </div>
  </div>
</footer>